{% extends 'base.html' %}

<!-- {% block title %}
<title>Perpus Online</title>
{% endblock title %}
 -->
{% block content %}

<div class="container">
	<div class="row">
		<div class="box-box">
			<div class="container">
				<div class="row">
					<div class="box-head">
						<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
						  <ol class="carousel-indicators">
						    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
						    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
						    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
						  </ol>
						  <div class="carousel-inner" role="listbox">
						    <div class="item active">
						      <a href="#" title="Terdapat Jalan Berlubang">
								<div class="col-md-6">							
									<img src="/static/img/image2.jpg" alt="image-1">
								</div>
								<div class="col-md-6 col-sm-6 hidden-sm hidden-xs">
									<h2>Pintu Gerbang SMP N 3 Kalasan</h2>
									<center>
									<span><i class="fa fa-user" aria-hidden="true"> By loremIpsum &emsp;</i></span>
									<span><i class="fa fa-calendar" aria-hidden="true">&ensp;12/12/2017</i></span>
									</center>
									<h4>SMP N 3 Kalasan terletak di Dukuh Sidokerto, Purwomartani, Kalasan, Sleman, Yogyakarta. Letak SMP N 3 Kalasan sendiri berbatasan dengan rumah warga, Sekolah Dasar, dan sawah. Lokasi SMP sangat strategis karena tidak berdekatan dengan pusat keramaian sehingga proses pembelajaran tidak akan terganggu. Akses ke SMP N 3 Kalasan dapat ditempuh dengan menggunakan sepeda ataupun sepeda motor, karena di sekitar SMP tidak ada kendaraan umum. SMP N 3 Kalasan, dilengkapi sarana dan prasarana penunjang pembelajaran yang memadai.
									</h4>
									<hr>
									<div class="area-bottom">
									</div>
								</div>
							</a>
						    </div>
						    <div class="item">
						      <a href="#" title="Terdapat Jalan Berlubang">
								<div class="col-md-6">							
									<img src="/static/img/image3.jpg" alt="image-1">
								</div>
								<div class="col-md-6 col-sm-6 hidden-sm hidden-xs">
									<h2>Perpustakaan SMP 3 Kalasan</h2>
									<center>
									<span><i class="fa fa-user" aria-hidden="true"> By loremIpsum &emsp;</i></span>
									<span><i class="fa fa-calendar" aria-hidden="true">&ensp;12/12/2017</i></span>
									</center>
									<h4>SMP N 3 Kalasan ini memiliki perpustakaan yang digunakan untuk membaca serta meminjam buku. Buku yang terdapat di perpustakaan SMP N 3 Kalasan beragam, mulai dari buku pelajaran, novel, majalah serta buku-buku pengetahuan lainnya. Perpusatakaan SMP N 3 Kalasan sudah menggunakan komputer dalam pembuatan laporan, meskipun dalam proses pembukuan data-data anggota, buku dan proses peminjaman dan pengembalian masih ditulis tangan pada buku induk besar
									</h4>
									<hr>
									<div class="area-bottom">
									</div>
								</div>
							</a>
						    </div>
						    <div class="item">
						      <a href="#" title="Terdapat Jalan Berlubang">
								<div class="col-md-6">							
									<img src="/static/img/image1.jpg" alt="image-1">
								</div>
								<div class="col-md-6 col-sm-6 hidden-sm hidden-xs">
									<h2>Ekstrakulikuler Basket</h2>
									<center>
									<span><i class="fa fa-user" aria-hidden="true"> By loremIpsum &emsp;</i></span>
									<span><i class="fa fa-calendar" aria-hidden="true">&ensp;12/12/2017</i></span>
									</center>
									<h4>SMP N 3 Kalasan memiliki berbagai macam cabang olah raga dalam ekstrakulikulernya, salah satu cabang olah raga yang paling populer dan sangat disukai oleh siswa nya adalah Basket. Lapangan yang memadai dan tergolong cukup layak untuk berlatih basket, maka cabang olah raga ini menjadi salah satu cabang ekstrakulikuler yang banyak peminatnya.
									</h4>
									<hr>
									<div class="area-bottom">
									</div>
								</div>
							</a>
						    </div>
						  </div>

						  
						  <a class="left" href="#carousel-example-generic" role="button" data-slide="prev">
						    <span class="prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></span>
						    <span class="sr-only">Previous</span>
						  </a>
						  <a class="right" href="#carousel-example-generic" role="button" data-slide="next">
						    <span class="next"><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
						    <span class="sr-only">Next</span>
						  </a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
						<!-- Konten Penulisan Cara memesan -->
<div class="container-fluid">
	<div class="row">
	<hr class="batas">
	<div class="col-md-2">
		
	</div>
		<div class="col-md-8">
			<h2 style="text-align: center;font-family: cursive;">Tata Cara Peminjaman Buku Di Perpustakaan SMP N 3 Kalasan</h2>
			<p style="text-align: justify;font-size: 16px;font-family: cursive;">Perpustakaan di SMP N 3 Kalasan sudah menggunakan teknologi informasi dalam proses peminjaman maupun
			proses pengarsipan data-data penting yang ada di SMP N 3 Kalasan. Di Perpustakaan SMP N 3 Kalasan ini
		dalam proses peminjaman bukunya dapat dilakukan secara offline maupun online, di mana yang dimaksud offline adalah proses peminjaman yang seperti pada umumnya yaitu datang ke perpustakaan secara langsung, untuk online siswa dapat melakukan proses peminjaman di mana saja. Untuk lebih jelasnya akan dijelaskan bagaimana cara melakukan peminjaman buku di Perpustakaan SMP N 3 Kalasan baik secara Offline maupun secara Online :</p>
		<hr class="batas">
		<h4 style="text-align: justify; font-weight: bold;font-family: cursive;">1. Cara Meminjam Buku Secara Offline</h4>
			<ol style="text-align: justify;font-size: 16px; font-family: cursive;" type="a">
				<li>Datang ke perpustakaan</li>
				<li>Mencari Buku yang ingin dipinjam</li>
				<li>Menyerahkan Buku kepada petugas perpustakaan beserta kartu anggota perpustakaan</li>
				<li>Selesai</li>
			</ol>
		<hr class="batas">
		<h4 style="text-align: justify; font-weight: bold;font-family: cursive;">1. Cara Meminjam Buku Secara Online</h4>
			<ol style="text-align: justify;font-size: 16px; font-family: cursive;" type="a">
				<li>Silakan Akses website perpustakaan SMP N 3 Kalasan, di <a href="/">Perpus Online</a></li>
				<li>Silakan cara buku yang ingin anda pinjam melalui katalog buku yang telah kami sediakan</li>
				<li>Silakan pilih buku yang ingin anda pinjam, dengan memasukkan ke dalam keranjang</li>
				<li>Silakan klik submit proses pemesanan untuk melakukan pemesanan buku secara online</li>
				<li>Datang ke Perpustakaan pada hari berikutnya, dan perlihatkan kode pemesanan buku kepada petugas perpustakaan</li>
				<li>Buku yang telah anda pesan sudah disiapkan oleh petugas perpustakaan</li>
				<li>Petugas perpustakaan akan melayani dalam proses peminjaman buku</li>
				<li>Selesai</li>
			</ol>
		</div>
		<div class="col-md-2">
		
	</div>	
	</div></div>
{% endblock content %}