{% extends 'base.html' %}

{% block title %}
<title>About Us</title>
{% endblock title %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="box">
			<div class="container">
				<div class="row">
					<div class="box-detail">
						<div class="col-md-12">
							<h4 style="text-align: left;">MAP</h4>
						    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15813.20528108805!2d110.448636!3d-7.7578328!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xee7cfb18e1c5d96c!2sSMP+Negeri+3+Kalasan!5e0!3m2!1sid!2sid!4v1514138728075" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></iframe>
						</div>
						<hr>
						 <div class="col-md-6">
						 	<h4 style="text-align: left;">Perpustakaan SMP N 3 Kalasan</h4>
							<p style="text-align: justify;">Adalah Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.SMP N 3 Kalasan terletak di Dukuh Sidokerto, Purwomartani, Kalasan, Sleman, Yogyakarta. Letak SMP N 3 Kalasan sendiri berbatasan dengan rumah warga, Sekolah Dasar, dan sawah. Lokasi SMP sangat strategis karena tidak berdekatan dengan pusat keramaian sehingga proses pembelajaran tidak akan terganggu. Akses ke SMP N 3 Kalasan dapat ditempuh dengan menggunakan sepeda ataupun sepeda motor, karena di sekitar SMP tidak ada kendaraan umum. SMP N 3 Kalasan, dilengkapi sarana dan prasarana penunjang pembelajaran yang memadai.</p>
						 </div>
						 <div class="col-md-6">
						 	<h4 style="text-align: left;">Contact Us</h4>
						 	<li>Email&emsp;&emsp;&emsp;&ensp; : akhyariakhyari@yahoo.co.id </li>
						 	<li>Phone Number 				  : (0274) 497809 </li>
						 </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}