{% extends 'base.html' %}

{% block title %}
<title>About Us</title>
{% endblock title %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="box">
			<div class="container">
				<div class="row">
					<div class="box-detail">
						<div class="col-md-12">
							<h4 style="text-align: left;">MAP</h4>
						    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d988.3796760911192!2d110.43974709919468!3d-7.734672077477895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7a5bc36caa66c5%3A0x447bac22a4da5d4!2sMasjid+Pangeran+Mangkubumi!5e0!3m2!1sid!2sid!4v1508379781189"></iframe>
						</div>
						<hr>
						 <div class="col-md-6">
						 	<h4 style="text-align: left;">Wadul</h4>
							<p>Adalah Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						 </div>
						 <div class="col-md-6">
						 	<h4 style="text-align: left;">Contact Us</h4>
						 	<li>Email&emsp;&emsp;&emsp;&ensp; : &ensp; </li>
						 	<li>Phone Number 				  : &ensp; </li>
						 </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}