{% extends 'base.html' %}

{% block title %}
<title>Detail</title>
{% endblock title %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="box">
				<div class="box-detail">
					<img src="../static/img/1.jpg">
					<h2>Terdapat Jalan Berlubang</h2>
					<h5>Writen By <a class="cool-link" href="#">LoremIpsum</a> &emsp; on 17 October,2017</h5>
					<p>&emsp; Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<p>&emsp; Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="box">
				<div class="box-detail">
					<h4>Are you interested in this Wadul ?</h4>
					<center>
					<a class="btn btn-default" href="#" role="button">Like&ensp;<i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
					&emsp;
					<a class="btn btn-default" href="#" role="button">Boring&ensp;<i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a>
					<hr>
					</center>
					<h4>Share to social media</h4>
					<center>
					<a href="#">
						<div class="btn-fb">
							<div class="btn-fb-text">
								Share to Facebook&ensp;<span class="ion-social-facebook"></span>
							</div>
						</div>
					</a>
					<a href="#">
						<div class="btn-tw">
							<div class="btn-tw-text">
								Share to Twitter&ensp;<span class="ion-social-twitter"></span>
							</div>
						</div>
					</a>
					<a href="#">
						<div class="btn-ig">
							<div class="btn-ig-text">
								Share to Instagram&ensp;<span class="ion-social-instagram-outline"></span>
							</div>
						</div>
					</a>
					</center>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}