{% extends 'base.html' %}

<!-- {% block title %}
<title>Perpus Online</title>
{% endblock title %} -->

{% block content %}
<!-- <div class="container-fluid">
	<div class="row">
		<div class="jumbotron text-center oswaldregular transparan">
			<h1>WADUL</h1>
			<p>Wadul adalah aplikasi untuk pengaduan, hal-hal yang terjadi disekitar kita,</p> 
			<p>dan akan diforward ke pihak-pihak terkait.</p>
		</div>
	</div>
</div> -->

<!-- <div class="container">
	<div class="row">
		<div class="box-box">
			<div class="container">
				<div class="row">
					<div class="box-head">
						<a href="#" title="Terdapat Jalan Berlubang">
							<div class="col-md-6">							
								<img src="../static/img/1.jpg" alt="image-1">
							</div>
							<div class="col-md-6">
								<h2>Terdapat Jalan Berlubang</h2>
								<center>
								<span><i class="fa fa-user" aria-hidden="true"> By loremIpsum &emsp;</i></span>
								<span><i class="fa fa-calendar" aria-hidden="true">&ensp;07/10/2017</i></span>
								</center>
								<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								</h4>
								<center>
								<span class="head"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&ensp;0&emsp;&emsp;&emsp;</span>
								<span class="head"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>&ensp;0&emsp;&emsp;&emsp;</span>
								<span class="head"><i class="fa fa-share-alt" aria-hidden="true"></i>&ensp;0</span>
								</center>
								<hr>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->


<div class="container">
	<div class="row">
		<div class="box-box">
			<div class="container">
				<div class="row">
					<div class="box-head">
						<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
						  <ol class="carousel-indicators">
						    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
						    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
						    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
						  </ol>
						  <div class="carousel-inner" role="listbox">
						    <div class="item active">
						      <a href="#" title="Terdapat Jalan Berlubang">
								<div class="col-md-6">							
									<img src="/static/img/image2.jpg" alt="image-1">
								</div>
								<div class="col-md-6 col-sm-6 hidden-sm hidden-xs">
									<h2>Pintu Gerbang SMP N 3 Kalasan</h2>
									<center>
									<span><i class="fa fa-user" aria-hidden="true"> By loremIpsum &emsp;</i></span>
									<span><i class="fa fa-calendar" aria-hidden="true">&ensp;12/12/2017</i></span>
									</center>
									<h4>SMP N 3 Kalasan terletak di Dukuh Sidokerto, Purwomartani, Kalasan, Sleman, Yogyakarta. Letak SMP N 3 Kalasan sendiri berbatasan dengan rumah warga, Sekolah Dasar, dan sawah. Lokasi SMP sangat strategis karena tidak berdekatan dengan pusat keramaian sehingga proses pembelajaran tidak akan terganggu. Akses ke SMP N 3 Kalasan dapat ditempuh dengan menggunakan sepeda ataupun sepeda motor, karena di sekitar SMP tidak ada kendaraan umum. SMP N 3 Kalasan, dilengkapi sarana dan prasarana penunjang pembelajaran yang memadai.
									</h4>
									<hr>
									<div class="area-bottom">
										<!-- <div class="vote">
											<span class="notif"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&ensp;0&emsp;&emsp;&emsp;</span>
											<span class="notif"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>&ensp;0&emsp;&emsp;&emsp;</span>
											<span class="notif"><i class="fa fa-share-alt" aria-hidden="true"></i>&ensp;0</span>
										</div> -->
										<!-- <div class="cat">
											<span class="box-cat">
												#Public
											</span>
										</div> -->
									</div>
								</div>
							</a>
						    </div>
						    <div class="item">
						      <a href="#" title="Terdapat Jalan Berlubang">
								<div class="col-md-6">							
									<img src="/static/img/image3.jpg" alt="image-1">
								</div>
								<div class="col-md-6 col-sm-6 hidden-sm hidden-xs">
									<h2>Perpustakaan SMP 3 Kalasan</h2>
									<center>
									<span><i class="fa fa-user" aria-hidden="true"> By loremIpsum &emsp;</i></span>
									<span><i class="fa fa-calendar" aria-hidden="true">&ensp;12/12/2017</i></span>
									</center>
									<h4>SMP N 3 Kalasan ini memiliki perpustakaan yang digunakan untuk membaca serta meminjam buku. Buku yang terdapat di perpustakaan SMP N 3 Kalasan beragam, mulai dari buku pelajaran, novel, majalah serta buku-buku pengetahuan lainnya. Perpusatakaan SMP N 3 Kalasan sudah menggunakan komputer dalam pembuatan laporan, meskipun dalam proses pembukuan data-data anggota, buku dan proses peminjaman dan pengembalian masih ditulis tangan pada buku induk besar
									</h4>
									<hr>
									<div class="area-bottom">
										<!-- <div class="vote">
											<span class="notif"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&ensp;0&emsp;&emsp;&emsp;</span>
											<span class="notif"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>&ensp;0&emsp;&emsp;&emsp;</span>
											<span class="notif"><i class="fa fa-share-alt" aria-hidden="true"></i>&ensp;0</span>
										</div> -->
										<!-- <div class="cat">
											<span class="box-cat">
												#Public
											</span>
										</div> -->
									</div>
								</div>
							</a>
						    </div>
						    <div class="item">
						      <a href="#" title="Terdapat Jalan Berlubang">
								<div class="col-md-6">							
									<img src="/static/img/image1.jpg" alt="image-1">
								</div>
								<div class="col-md-6 col-sm-6 hidden-sm hidden-xs">
									<h2>Ekstrakulikuler Basket</h2>
									<center>
									<span><i class="fa fa-user" aria-hidden="true"> By loremIpsum &emsp;</i></span>
									<span><i class="fa fa-calendar" aria-hidden="true">&ensp;12/12/2017</i></span>
									</center>
									<h4>SMP N 3 Kalasan memiliki berbagai macam cabang olah raga dalam ekstrakulikulernya, salah satu cabang olah raga yang paling populer dan sangat disukai oleh siswa nya adalah Basket. Lapangan yang memadai dan tergolong cukup layak untuk berlatih basket, maka cabang olah raga ini menjadi salah satu cabang ekstrakulikuler yang banyak peminatnya.
									</h4>
									<hr>
									<div class="area-bottom">
										<!-- <div class="vote">
											<span class="notif"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&ensp;0&emsp;&emsp;&emsp;</span>
											<span class="notif"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>&ensp;0&emsp;&emsp;&emsp;</span>
											<span class="notif"><i class="fa fa-share-alt" aria-hidden="true"></i>&ensp;0</span>
										</div> -->
										<!-- <div class="cat">
											<span class="box-cat">
												#Public
											</span>
										</div> -->
									</div>
								</div>
							</a>
						    </div>
						  </div>

						  
						  <a class="left" href="#carousel-example-generic" role="button" data-slide="prev">
						    <span class="prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></span>
						    <span class="sr-only">Previous</span>
						  </a>
						  <a class="right" href="#carousel-example-generic" role="button" data-slide="next">
						    <span class="next"><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
						    <span class="sr-only">Next</span>
						  </a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <div class="container">
	<div class="row">
		<div class="col-md-6 head-left">
			<div class="box">
				<div class="box-heading">
				<img src="../static/img/1.jpg" alt="image-1">
				<a href="">
					<h2>Terdapat Jalan yang Berlubang</h2>
				</a>
				<hr>
				<div class="area-bottom">
					<div class="vote">
						<span class="notif"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&ensp;0&emsp;&emsp;&emsp;</span>
						<span class="notif"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>&ensp;0&emsp;&emsp;&emsp;</span>
						<span class="notif"><i class="fa fa-share-alt" aria-hidden="true"></i>&ensp;0</span>
					</div>
					<div class="cat">
						<span class="box-cat">
							#Public
						</span>
					</div>
				</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 head-right">
			<div class="box">
				<div class="box-heading">
				<img src="../static/img/2.jpg" alt="image-1">
				<a href="">
					<h2>Terdapat Jalan yang Berlubang</h2>
				</a>
				<hr>
				<div class="area-bottom">
					<div class="vote">
						<span class="notif"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&ensp;0&emsp;&emsp;&emsp;</span>
						<span class="notif"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>&ensp;0&emsp;&emsp;&emsp;</span>
						<span class="notif"><i class="fa fa-share-alt" aria-hidden="true"></i>&ensp;0</span>
					</div>
					<div class="cat">
						<span class="box-cat">
							#Public
						</span>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
</div> -->

<div class="container-fluid">
	<div class="row">
	<hr class="batas">
		<main>
			{% for buku in bk %}
			<a href="/buku/{{k.slug}}/" title="Terdapat Jalan Berlubang">
				<article>
					<h4>{{buku.katalog.jdl_buku}}</h4>
					<center>
					<span><i class="fa fa-book" aria-hidden="true"> Status : {{buku.status}} &emsp;</i></span>
					<span><i class="fa fa-calendar" aria-hidden="true">&ensp; Kondisi : {{buku.kondisi}}</i></span>
					</center>
					<figure>
						<img src="/media/{{buku.katalog.foto_sampul}}" alt="{{buku.katalog.jdl_buku}}">
						<figcaption></figcaption>
					</figure>
					<p style="text-align: center;">{{buku.kd_itemBuku}}</p>
					<hr>
					<center>
					<!-- <span class="notif"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&ensp;0&emsp;&emsp;&emsp;</span>
					<span class="notif"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>&ensp;0&emsp;&emsp;&emsp;</span>
					<span class="notif"><i class="fa fa-share-alt" aria-hidden="true"></i>&ensp;0</span> -->
					</center>
				</article>
			</a>
			{% endfor %}
			<!-- <a href="#" title="Terdapat Jalan Berlubang">
				<article>
					<h4>Terdapat Jalan Berlubang</h4>
					<center>
					<span><i class="fa fa-user" aria-hidden="true"> By loremIpsum &emsp;</i></span>
					<span><i class="fa fa-calendar" aria-hidden="true">&ensp;07/10/2017</i></span>
					</center>
					<figure>
						<img src="../static/img/2.jpg" alt="image-2">
						<figcaption></figcaption>
					</figure>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate itaque consequatur illo quis, delectus, incidunt labore.</p>
					<hr>
					<div class="area-bottom">
						<div class="vote">
							<span class="notif"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&ensp;0&emsp;&emsp;&emsp;</span>
							<span class="notif"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>&ensp;0&emsp;&emsp;&emsp;</span>
							<span class="notif"><i class="fa fa-share-alt" aria-hidden="true"></i>&ensp;0</span>
						</div>
						<div class="cat">
							<span class="box-cat">
								#Public
							</span>
						</div>
					</div>
				</article>
			</a>

			<a href="#" title="Terdapat Jalan Berlubang">
				<article>
					<h4>Terdapat Jalan Berlubang</h4>
					<center>
					<span><i class="fa fa-user" aria-hidden="true"> By loremIpsum &emsp;</i></span>
					<span><i class="fa fa-calendar" aria-hidden="true">&ensp;07/10/2017</i></span>
					</center>
					<figure>
						<img src="../static/img/3.jpg" alt="image-1">
						<figcaption></figcaption>
					</figure>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate itaque consequatur illo quis, delectus, incidunt labore.</p>
					<hr>
					<div class="area-bottom">
						<div class="vote">
							<span class="notif"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&ensp;0&emsp;&emsp;&emsp;</span>
							<span class="notif"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>&ensp;0&emsp;&emsp;&emsp;</span>
							<span class="notif"><i class="fa fa-share-alt" aria-hidden="true"></i>&ensp;0</span>
						</div>
						<div class="cat">
							<span class="box-cat">
								#Public
							</span>
						</div>
					</div>
				</article>
			</a>
				
			<a href="#" title="Terdapat Jalan Berlubang">
				<article>
					<h4>Terdapat Jalan Berlubang</h4>
					<center>
					<span><i class="fa fa-user" aria-hidden="true"> By loremIpsum &emsp;</i></span>
					<span><i class="fa fa-calendar" aria-hidden="true">&ensp;07/10/2017</i></span>
					</center>
					<figure>
						<img src="../static/img/1.jpg" alt="image-2">
						<figcaption></figcaption>
					</figure>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate itaque consequatur illo quis, delectus, incidunt labore.</p>
					<hr>
					<div class="area-bottom">
						<div class="vote">
							<span class="notif"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&ensp;0&emsp;&emsp;&emsp;</span>
							<span class="notif"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>&ensp;0&emsp;&emsp;&emsp;</span>
							<span class="notif"><i class="fa fa-share-alt" aria-hidden="true"></i>&ensp;0</span>
						</div>
						<div class="cat">
							<span class="box-cat">
								#Public
							</span>
						</div>
					</div>
				</article>
			</a>

			<a href="#" title="Terdapat Jalan Berlubang">
				<article>
					<h4>Terdapat Jalan Berlubang</h4>
					<center>
					<span><i class="fa fa-user" aria-hidden="true"> By loremIpsum &emsp;</i></span>
					<span><i class="fa fa-calendar" aria-hidden="true">&ensp;07/10/2017</i></span>
					</center>
					<figure>
						<img src="../static/img/2.jpg" alt="image-1">
						<figcaption></figcaption>
					</figure>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate itaque consequatur illo quis, delectus, incidunt labore.</p>
					<hr>
					<div class="area-bottom">
						<div class="vote">
							<span class="notif"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&ensp;0&emsp;&emsp;&emsp;</span>
							<span class="notif"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>&ensp;0&emsp;&emsp;&emsp;</span>
							<span class="notif"><i class="fa fa-share-alt" aria-hidden="true"></i>&ensp;0</span>
						</div>
						<div class="cat">
							<span class="box-cat">
								#Public
							</span>
						</div>
					</div>
				</article>
			</a>
				
			<a href="#" title="Terdapat Jalan Berlubang">
				<article>
					<h4>Terdapat Jalan Berlubang</h4>
					<center>
					<span><i class="fa fa-user" aria-hidden="true"> By loremIpsum &emsp;</i></span>
					<span><i class="fa fa-calendar" aria-hidden="true">&ensp;07/10/2017</i></span>
					</center>
					<figure>
						<img src="../static/img/3.jpg" alt="image-2">
						<figcaption></figcaption>
					</figure>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate itaque consequatur illo quis, delectus, incidunt labore.</p>
					<hr>
					<div class="area-bottom">
						<div class="vote">
							<span class="notif"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&ensp;0&emsp;&emsp;&emsp;</span>
							<span class="notif"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>&ensp;0&emsp;&emsp;&emsp;</span>
							<span class="notif"><i class="fa fa-share-alt" aria-hidden="true"></i>&ensp;0</span>
						</div>
						<div class="cat">
							<span class="box-cat">
								#Public
							</span>
						</div>
					</div>
				</article>
			</a>

			<a href="#" title="Terdapat Jalan Berlubang">
				<article>
					<h4>Terdapat Jalan Berlubang</h4>
					<center>
					<span><i class="fa fa-user" aria-hidden="true"> By loremIpsum &emsp;</i></span>
					<span><i class="fa fa-calendar" aria-hidden="true">&ensp;07/10/2017</i></span>
					</center>
					<figure>
						<img src="../static/img/1.jpg" alt="image-1">
						<figcaption></figcaption>
					</figure>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate itaque consequatur illo quis, delectus, incidunt labore.</p>
					<hr>
					<div class="area-bottom">
						<div class="vote">
							<span class="notif"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&ensp;0&emsp;&emsp;&emsp;</span>
							<span class="notif"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>&ensp;0&emsp;&emsp;&emsp;</span>
							<span class="notif"><i class="fa fa-share-alt" aria-hidden="true"></i>&ensp;0</span>
						</div>
						<div class="cat">
							<span class="box-cat">
								#Public
							</span>
						</div>
					</div>
				</article>
			</a>
				
			<a href="#" title="Terdapat Jalan Berlubang">
				<article>
					<h4>Terdapat Jalan Berlubang</h4>
					<center>
					<span><i class="fa fa-user" aria-hidden="true"> By loremIpsum &emsp;</i></span>
					<span><i class="fa fa-calendar" aria-hidden="true">&ensp;07/10/2017</i></span>
					</center>
					<figure>
						<img src="../static/img/2.jpg" alt="image-2">
						<figcaption></figcaption>
					</figure>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate itaque consequatur illo quis, delectus, incidunt labore.</p>
					<hr>
					<div class="area-bottom">
						<div class="vote">
							<span class="notif"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&ensp;0&emsp;&emsp;&emsp;</span>
							<span class="notif"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>&ensp;0&emsp;&emsp;&emsp;</span>
							<span class="notif"><i class="fa fa-share-alt" aria-hidden="true"></i>&ensp;0</span>
						</div>
						<div class="cat">
							<span class="box-cat">
								#Public
							</span>
						</div>
					</div>
				</article>
			</a>
			<a href="#" title="Terdapat Jalan Berlubang">
				<article>
					<h4>Terdapat Jalan Berlubang</h4>
					<center>
					<span><i class="fa fa-user" aria-hidden="true"> By loremIpsum &emsp;</i></span>
					<span><i class="fa fa-calendar" aria-hidden="true">&ensp;07/10/2017</i></span>
					</center>
					<figure>
						<img src="../static/img/3.jpg" alt="image-1">
						<figcaption></figcaption>
					</figure>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate itaque consequatur illo quis, delectus, incidunt labore.</p>
					<hr>
					<div class="area-bottom">
						<div class="vote">
							<span class="notif"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&ensp;0&emsp;&emsp;&emsp;</span>
							<span class="notif"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>&ensp;0&emsp;&emsp;&emsp;</span>
							<span class="notif"><i class="fa fa-share-alt" aria-hidden="true"></i>&ensp;0</span>
						</div>
						<div class="cat">
							<span class="box-cat">
								#Public
							</span>
						</div>
					</div>
				</article>
			</a>
				
			<a href="#" title="Terdapat Jalan Berlubang">
				<article>
					<h4>Terdapat Jalan Berlubang</h4>
					<center>
					<span><i class="fa fa-user" aria-hidden="true"> By loremIpsum &emsp;</i></span>
					<span><i class="fa fa-calendar" aria-hidden="true">&ensp;07/10/2017</i></span>
					</center>
					<figure>
						<img src="../static/img/1.jpg" alt="image-2">
						<figcaption></figcaption>
					</figure>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate itaque consequatur illo quis, delectus, incidunt labore.</p>
					<hr>
					<div class="area-bottom">
						<div class="vote">
							<span class="notif"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&ensp;0&emsp;&emsp;&emsp;</span>
							<span class="notif"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>&ensp;0&emsp;&emsp;&emsp;</span>
							<span class="notif"><i class="fa fa-share-alt" aria-hidden="true"></i>&ensp;0</span>
						</div>
						<div class="cat">
							<span class="box-cat">
								#Public
							</span>
						</div>
					</div>
				</article>
			</a>

			<a href="#" title="Terdapat Jalan Berlubang">
				<article>
					<h4>Terdapat Jalan Berlubang</h4>
					<center>
					<span><i class="fa fa-user" aria-hidden="true"> By loremIpsum &emsp;</i></span>
					<span><i class="fa fa-calendar" aria-hidden="true">&ensp;07/10/2017</i></span>
					</center>
					<figure>
						<img src="../static/img/2.jpg" alt="image-1">
						<figcaption></figcaption>
					</figure>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate itaque consequatur illo quis, delectus, incidunt labore.</p>
					<hr>
					<div class="area-bottom">
						<div class="vote">
							<span class="notif"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&ensp;0&emsp;&emsp;&emsp;</span>
							<span class="notif"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>&ensp;0&emsp;&emsp;&emsp;</span>
							<span class="notif"><i class="fa fa-share-alt" aria-hidden="true"></i>&ensp;0</span>
						</div>
						<div class="cat">
							<span class="box-cat">
								#Public
							</span>
						</div>
					</div>
				</article>
			</a>
				
			<a href="#" title="Terdapat Jalan Berlubang">
				<article>
					<h4>Terdapat Jalan Berlubang</h4>
					<center>
					<span><i class="fa fa-user" aria-hidden="true"> By loremIpsum &emsp;</i></span>
					<span><i class="fa fa-calendar" aria-hidden="true">&ensp;07/10/2017</i></span>
					</center>
					<figure>
						<img src="../static/img/3.jpg" alt="image-2">
						<figcaption></figcaption>
					</figure>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate itaque consequatur illo quis, delectus, incidunt labore.</p>
					<hr>
					<div class="area-bottom">
						<div class="vote">
							<span class="notif"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&ensp;0&emsp;&emsp;&emsp;</span>
							<span class="notif"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>&ensp;0&emsp;&emsp;&emsp;</span>
							<span class="notif"><i class="fa fa-share-alt" aria-hidden="true"></i>&ensp;0</span>
						</div>
						<div class="cat">
							<span class="box-cat">
								#Public
							</span>
						</div>
					</div>
				</article>
			</a>
			<a href="#" title="Terdapat Jalan Berlubang">
				<article>
					<h4>Terdapat Jalan Berlubang</h4>
					<center>
					<span><i class="fa fa-user" aria-hidden="true"> By loremIpsum &emsp;</i></span>
					<span><i class="fa fa-calendar" aria-hidden="true">&ensp;07/10/2017</i></span>
					</center>
					<figure>
						<img src="../static/img/1.jpg" alt="image-1">
						<figcaption></figcaption>
					</figure>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate itaque consequatur illo quis, delectus, incidunt labore.</p>
					<hr>
					<div class="area-bottom">
						<div class="vote">
							<span class="notif"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&ensp;0&emsp;&emsp;&emsp;</span>
							<span class="notif"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>&ensp;0&emsp;&emsp;&emsp;</span>
							<span class="notif"><i class="fa fa-share-alt" aria-hidden="true"></i>&ensp;0</span>
						</div>
						<div class="cat">
							<span class="box-cat">
								#Public
							</span>
						</div>
					</div>
				</article>
			</a>
				
			<a href="#" title="Terdapat Jalan Berlubang">
				<article>
					<h4>Terdapat Jalan Berlubang</h4>
					<center>
					<span><i class="fa fa-user" aria-hidden="true"> By loremIpsum &emsp;</i></span>
					<span><i class="fa fa-calendar" aria-hidden="true">&ensp;07/10/2017</i></span>
					</center>
					<figure>
						<img src="../static/img/2.jpg" alt="image-2">
						<figcaption></figcaption>
					</figure>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate itaque consequatur illo quis, delectus, incidunt labore.</p>
					<hr>
					<div class="area-bottom">
						<div class="vote">
							<span class="notif"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&ensp;0&emsp;&emsp;&emsp;</span>
							<span class="notif"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>&ensp;0&emsp;&emsp;&emsp;</span>
							<span class="notif"><i class="fa fa-share-alt" aria-hidden="true"></i>&ensp;0</span>
						</div>
						<div class="cat">
							<span class="box-cat">
								#Public
							</span>
						</div>
					</div>
				</article>
			</a>

			<a href="#" title="Terdapat Jalan Berlubang">
				<article>
					<h4>Terdapat Jalan Berlubang</h4>
					<center>
					<span><i class="fa fa-user" aria-hidden="true"> By loremIpsum &emsp;</i></span>
					<span><i class="fa fa-calendar" aria-hidden="true">&ensp;07/10/2017</i></span>
					</center>
					<figure>
						<img src="../static/img/3.jpg" alt="image-1">
						<figcaption></figcaption>
					</figure>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate itaque consequatur illo quis, delectus, incidunt labore.</p>
					<hr>
					<div class="area-bottom">
						<div class="vote">
							<span class="notif"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&ensp;0&emsp;&emsp;&emsp;</span>
							<span class="notif"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>&ensp;0&emsp;&emsp;&emsp;</span>
							<span class="notif"><i class="fa fa-share-alt" aria-hidden="true"></i>&ensp;0</span>
						</div>
						<div class="cat">
							<span class="box-cat">
								#Public
							</span>
						</div>
					</div>
				</article>
			</a>
				
			<a href="#" title="Terdapat Jalan Berlubang">
				<article>
					<h4>Terdapat Jalan Berlubang</h4>
					<center>
					<span><i class="fa fa-user" aria-hidden="true"> By loremIpsum &emsp;</i></span>
					<span><i class="fa fa-calendar" aria-hidden="true">&ensp;07/10/2017</i></span>
					</center>
					<figure>
						<img src="../static/img/1.jpg" alt="image-2">
						<figcaption></figcaption>
					</figure>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate itaque consequatur illo quis, delectus, incidunt labore.</p>
					<hr>
					<div class="area-bottom">
						<div class="vote">
							<span class="notif"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&ensp;0&emsp;&emsp;&emsp;</span>
							<span class="notif"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>&ensp;0&emsp;&emsp;&emsp;</span>
							<span class="notif"><i class="fa fa-share-alt" aria-hidden="true"></i>&ensp;0</span>
						</div>
						<div class="cat">
							<span class="box-cat">
								#Public
							</span>
						</div>
					</div>
				</article>
			</a>
			<a href="#" title="Terdapat Jalan Berlubang">
				<article>
					<h4>Terdapat Jalan Berlubang</h4>
					<center>
					<span><i class="fa fa-user" aria-hidden="true"> By loremIpsum &emsp;</i></span>
					<span><i class="fa fa-calendar" aria-hidden="true">&ensp;07/10/2017</i></span>
					</center>
					<figure>
						<img src="../static/img/2.jpg" alt="image-3">
						<figcaption></figcaption>
					</figure>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate itaque consequatur illo quis, delectus, incidunt labore.</p>
					<hr>
					<div class="area-bottom">
						<div class="vote">
							<span class="notif"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&ensp;0&emsp;&emsp;&emsp;</span>
							<span class="notif"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>&ensp;0&emsp;&emsp;&emsp;</span>
							<span class="notif"><i class="fa fa-share-alt" aria-hidden="true"></i>&ensp;0</span>
						</div>
						<div class="cat">
							<span class="box-cat">
								#Public
							</span>
						</div>
					</div>
				</article>
			</a> -->
		</main>
	</div>
	<div class="row">
		<center>
			<nav aria-label="Page navigation">
			  <ul class="pagination pagination-lg">
			    <li>
			      <a href="#" aria-label="Previous">
			        <span aria-hidden="true">&laquo;</span>
			      </a>
			    </li>
			    <li><a href="#">1</a></li>
			    <li><a href="#">2</a></li>
			    <li><a href="#">3</a></li>
			    <li><a href="#">4</a></li>
			    <li><a href="#">5</a></li>
			    <li>
			      <a href="#" aria-label="Next">
			        <span aria-hidden="true">&raquo;</span>
			      </a>
			    </li>
			  </ul>
			</nav>
		</center>
	</div>
</div>
{% endblock content %}